* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
  }

.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid:
      "name1 name2 name2" 1fr
      "name1 name2 name2" 1fr
      "name1 name2 name2" 1fr
      / 1fr 1fr 1fr;
    gap: 8px;
  }
  
  .name1 { grid-area: name1; }
  .name2 { grid-area: name2; }

body {
    background-color: black;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: lightgreen;
}

.layout {
    width: 60%;
    height: 80%;
    border: 2px solid green;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(0, 0, 0);
}

.layout:hover{
    background-color: rgb(33, 30, 30);
}

.layout:hover {
    border: 5px solid rgb(0, 240, 0);
}

h2 {
    color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

input {
    color: rgb(0, 255, 51);
    border: 3px solid green;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: black;
    width: 80%;
    height: 25px;
    cursor: pointer;
    margin-bottom: 21.5px;
}

input:hover {
    background-color: rgb(49, 42, 42);
    border: 4px solid lime;
}

.name1 {
    border-right: 3px solid lawngreen;
    border-radius: 20px;
    padding: 20px;
}

.name2 {
    justify-content: center; /* Alinhar os itens horizontalmente ao centro */
    text-align: center; /* Centralizar o texto dentro dos itens flexíveis */
    padding-top: 39px;
}

select {
    color: rgb(0, 255, 51);
    border: 3px solid green;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: black;
    width: 83%;
    height: 40px;
    cursor: pointer;
    margin-bottom: 21.5px;
}

#inserir {
    background-color: rgb(0, 0, 0);
    width: 30%;
    height: 40px;
    color: green;
}  

#inserir:hover {
    color: lime;
    background-color: rgb(39, 34, 34);
}
